In [1]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import chi2

In [2]:
df = pd.read_csv("data/Final_cleaned_up_data.csv")
df = df.drop(['Unnamed: 0'], axis=1)
df = pd.get_dummies(df, columns=['LU','STRUCTURE_CLASS','OWN_OCC','RorU','AC'])
df.head()
print("There are {} entries in the dataframe".format(len(df)))
df.head()

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

There are 316333 entries in the dataframe

,PID,ZIPCODE,AV_TOTAL,YR_BUILT,LIVING_AREA,HEAT_TYP,Year,LU_A,LU_CD,LU_E,...,STRUCTURE_CLASS_R,OWN_OCC_N,OWN_OCC_Y,RorU_R,RorU_U,AC_C,AC_D,AC_E,AC_F,AC_N
0,2205668000_,2135,604700,1920,2834,W,2014,0,0,0,...,1,1,0,1,0,0,0,0,0,1
1,2205664000_,2135,567000,1920,2952,F,2014,0,0,0,...,1,0,1,1,0,0,0,0,0,1
2,2205663001_,2135,477600,1920,2390,W,2014,0,0,0,...,1,0,1,1,0,0,0,0,0,1
3,2205663000_,2135,442700,1920,2347,W,2014,0,0,0,...,1,0,1,1,0,0,0,0,0,1
4,2205662020_,2135,549000,1910,2545,W,2014,0,0,0,...,1,0,1,1,0,0,0,0,0,1

In [3]:
df.HEAT_TYP.replace(['E','F','N','O','S','W'], ['NP','NP','NP','NP','NP','NP'], inplace=True)

X = df[['YR_BUILT', 'LIVING_AREA',
        'LU_A','LU_CD','LU_E','LU_EA','LU_R1','LU_R2','LU_R3','LU_RC',
        'STRUCTURE_CLASS_1','STRUCTURE_CLASS_A','STRUCTURE_CLASS_B',
        'STRUCTURE_CLASS_C','STRUCTURE_CLASS_D','STRUCTURE_CLASS_R',
        'OWN_OCC_N','OWN_OCC_Y',
        'RorU_R','RorU_U',
        'AC_C','AC_D','AC_E','AC_F','AC_N']]
y = df[[ 'HEAT_TYP']]

Xtrain, Xtest, ytrain, ytest = train_test_split(X, y)

In [4]:
gnb = GaussianNB()
y_pred = gnb.fit(Xtrain, ytrain).predict(Xtest)
print("The accuracy score is {}".format(accuracy_score(ytest,y_pred)))

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

The accuracy score is 0.9080724293156643

In [5]:
scores, pvalues = chi2(Xtrain,ytrain)
column_name = list(X)
p_values = []
for i in pvalues:
    p_values.append(format(i,'f'))
x = pd.DataFrame(
    {'Column name': column_name,
     'P_Value': p_values,
    },columns=['Column name', 'P_Value'])
x

          Column name   P_Value
0            YR_BUILT  0.000000
1         LIVING_AREA  0.000000
2                LU_A  0.266278
3               LU_CD  0.621199
4                LU_E  0.000000
5               LU_EA  0.521309
6               LU_R1  0.000000
7               LU_R2  0.000001
8               LU_R3  0.000000
9               LU_RC  0.683300
10  STRUCTURE_CLASS_1  0.939612
11  STRUCTURE_CLASS_A  0.384693
12  STRUCTURE_CLASS_B  0.784741
13  STRUCTURE_CLASS_C  0.877678
14  STRUCTURE_CLASS_D  0.281214
15  STRUCTURE_CLASS_R  0.914417
16          OWN_OCC_N  0.000002
17          OWN_OCC_Y  0.001239
18             RorU_R  0.945626
19             RorU_U  0.623201
20               AC_C  0.000000
21               AC_D  0.000164
22               AC_E  0.950678
23               AC_F  0.965113
24               AC_N  0.000000